  *{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
  }
  .header{
   min-height: 100vh;
   width: 100%;
   background-image: url(images/yisa.png);
   background-position: center;
   background-size: cover;
   position: relative;
  }
  nav{
    display: flex;
    padding: 2% 25%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
  }
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .text-box h1{
    font-size: 62px;
    color: #0b1129;
  }
  .text-box p{
      margin: 10px 0 40px;
      font-size: 25px;
      color: #fff;
  }
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }

  nav .fa{
    display: none;
  } 
  
  @media(max-width: 700px){
    .text-box h1{
      font-size: 45px;
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul{
      padding: 30px;

    }
  }
   /*-------about----- --*/  
   #about{
    padding: 80px 0;
    color: #0b1129;
   }
   .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }.about-col-2{
    flex-basis: 35%;
   }
   .about-col-2 img{
    width: 100%;
    border-radius: 15px;
    transition: transform .3s ease;
   }
   .about-col-2 img:hover{
      transform: scale(1.1);
   }
   .about-col-1{
    flex-basis: 60%;
   }
   .sub-title{
    font-size: 48px;
    font-family: EB Garamond;
    font-weight: 600;
    color: #0b1129;
   }
   .sub-title p{
    font-size: 16px;
    font-family: Open Sans;
    letter-spacing: 0em;
    line-height: 1.7em;
    color: #7d7d7d;
    margin: 25px 0px 0px 0px;
    text-align: left;
   }
  
   /*-------choke----- --*/
   #choke{
    padding: 30px 0;
   }
   .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
   }
   .services-list div{
    background: burlywood;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
   }
   .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
   }
   .services-list div:hover{
    background: red;
    transform: translateY(-10px);
   }
  html{
    scroll-behavior: smooth;
  }
  
  /*----- services----*/

  .services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .services h1{
    font-family: 'EB Garamond';
    color: #0b1129;
    font-size: 48px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0em;
    line-height: 1.1em;
  }
  .services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }
  .services-col p{
    padding: 0;
  }
  .services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }
  .services-col img{
    width: 100%;
    border-radius: 15px;
    transition: transform .3s ease;
   }
   .services img:hover{
      transform: scale(1.1);
   }

   .testimonial{
    width: 90%;
    max-width: 800px;
    margin: auto;
   }
   .testimonial-text {
    background: #f44336;
    color: #fff;
    width: 100%;
    height: 350px;
    position: relative;
    box-shadow: 0 15px 20px;
   }
   .user-text{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
   }
   .user-text .fas{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
   }
   .user-text span{
    display: block;
    font-size: 13px;
    margin-top: 70px;
    font-weight: 500;
    text-transform: uppercase;
   }
   .testimonial-pic{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .user-pic{
    width: 65px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
   }
   .user-text.active-text{
    display: block;
    animation: moveup 1s linear forwards;
   }
   .user-pic.active-pic{
    width: 100px;
    border: 3px solid #f44336;
   }
   
   @keyframes moveup {
    0%{
      margin-top: 25px;
    }
    100%{
      margin-top: 0px;
    }
   }
   .img-gallery{
    width: 100%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
   }
   .img-gallery img{
    width: 100%;
    border-radius: 15px;
    transition: transform .3s ease;
    cursor: pointer;
   }
   .img-gallery img:hover{
    transform: scale(1.1);
   }
   .full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
   }
   .full-img img{
    width: 90%;
    max-width: 500px;
   }
   .full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
   }

   /*---------Call To Action--*/
   .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
   }
   .cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 48px;
    font-family: EB Garamond;
    letter-spacing: 0em;
    line-height: 1.2em;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
}
   .cta p{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
      font-size: 16px;
      font-family: Open Sans;
      letter-spacing: 0.0em;
      line-height: 1.2em;
      color: rgba(255, 255, 255, 1);
      margin: 15px 0px 12px 0px;
      text-align: center;
   }

   /*---------Footer--*/
   .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
   }
   .footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
   }
   .icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
   }
   .fa-heart{
    color: #f44336;
   }